BACKEND_URL=http://localhost:8080
UPLOAD_PATH_PREFIX=/uploads
CORS=http://localhost:3000,https://localhost:3000,http://localhost,https://localhost

# Typeorm(DB) 설정
DB_TYPE=postgres
DB_HOST={ip}
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD={password}
DB_DATABASE={name}
SYNCHRONIZE=true # 개발 환경에서만 true로 설정 (프로덕션에서는 false 권장)
LOGGING=false # 개발 환경에서만 true로 설정
DEV=true
REQUEST_LOG=./log/request.log
RESPONSE_LOG=./log/response.log
LOG=true
CONSOLE_LOG=true
JWT_SECRET={secret_key}

# 확장 기능 관련 
EXPAND=cron
CRONS=test
