GENERATE_SOURCEMAP=false
WDS_SOCKET_PORT = 0

# FOR Using Local Backend
REACT_APP_ORIGIN = "http://localhost:8080"
REACT_APP_SOCKET = "http://localhost:8081"
REACT_APP_FRONT = "http://localhost:3000"

# FOR Using Local Domain
REACT_APP_ORIGIN = "http://localhost.com:8080"
REACT_APP_SOCKET = "http://localhost.com:8081"
REACT_APP_FRONT = "http://localhost.com:3000"

REACT_APP_DEV = true