GENERATE_SOURCEMAP=false
WDS_SOCKET_PORT = 0

# FOR Using Local Backend
NEXT_PUBLIC_BACK = "http://localhost.com:8080"

# FOR Using Local Domain
# NEXT_PUBLIC_BACK = "http://localhost:8080"

NEXT_MAIN_DOMAIN = "localhost, localhost.com"

NEXT_PUBLIC_DEV = true